<div class="column">
  <div>
    <button class="button-column">
      <nb-icon
        icon="plus"
        [options]="{ animation: { type: 'pulse' } }"
        class="font-icon"
      ></nb-icon>
      <span class="text-button">Add New Column</span>
    </button>
  </div>
  <div>
    <form action="">
      <input type="text" placeholder="Name column" />
      <button class="button-column">
        <nb-icon
          icon="plus"
          [options]="{ animation: { type: 'pulse' } }"
          class="font-icon"
        ></nb-icon>
        <span class="text-button">Add Column</span>
      </button>
    </form>
  </div>

  <div class="title">
    <input type="text" value="Title Column" />
  </div>

  <div class="card">
    <div>
      <nb-icon
        icon="plus"
        [options]="{ animation: { type: 'pulse' } }"
        class="font-icon"
      ></nb-icon>
      <span class="text-button">Add card</span>
    </div>
    <div>
      <form action="">
        <textarea name="" id=""></textarea>
        <button class="button-column">
          <nb-icon
            icon="plus"
            [options]="{ animation: { type: 'pulse' } }"
            class="font-icon"
          ></nb-icon>
          <span class="text-button">Add Card</span>
        </button>
      </form>
    </div>
  </div>
</div>
